# Project dependencies
.cache
node_modules
.env.*

# Build directory
/public

# Local plugins used for development
/plugins

.package-lock.json
yarn.lock
.vscode

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*